/* @import "https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap";
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: open sans;
  background: #f8f8f8;
} */

:root {
  --nav-bar-color: rgb(248, 112, 135);
  --primary-color: rgb(248, 203, 211);
  --container-color: rgb(250, 230, 234);
  --container-rightSide-color: rgb(250, 220, 225);
}

.slider {
  display: flex;
  height: 150px;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  transform: scroll(calc(var(--i, 0) / var(--n) * -100%));
  scroll-behavior: smooth;
  margin-right: 10px;
}
.slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}
.slider::-webkit-scrollbar-thumb {
  background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.slide {
  position: relative;
}

.slide img {
  height: 100%;
  width: 150px;
  margin: 0 10px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.slide img:hover ~ .img-overlay {
  bottom: 0;
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.img-overlay {
  background-color: rgba(248, 112, 135, 0.562);
  position: absolute;
  bottom: -70%;
  width: 150px;
  height: 70%;
  font: 30px;
  margin: 0 10px;
  border-radius: 15px;
  cursor: pointer;
}

.img-overlay p {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  margin-left: 30px;
}

.img-overlay p:nth-child(1) {
  margin-top: 10px;
  padding-bottom: 3px;
}

/* .slider img:hover ~ .img-overlay {
  display: block;
}

.img-overlay:hover ~ .img-overlay {
  display: block;
} */

.control-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 50px;
  line-height: 50px;
  width: 35px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: var(--nav-bar-color);
  cursor: pointer;
}

.control-prev-btn:hover {
  background-color: var(--primary-color);
}

.control-prev-btn SVG {
  font-size: 20px;
}

.control-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.55);
  height: 50px;
  line-height: 50px;
  width: 35px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: var(--nav-bar-color);
  cursor: pointer;
}

.control-next-btn:hover {
  background-color: var(--primary-color);
}

.control-next-btn SVG {
  font-size: 20px;
}

.slide img.zoomed {
  width: 500px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: scale(1) translatey(0) translate(-50%, -50%) !important;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  display: none;
}

.overlay.active {
  display: block;
}
/* @media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
  }
  .slide {
    padding: 16px 10px;
  }
  .slide img {
    margin: 0;
  }
  .control-prev-btn {
    top: 37%;
  }
  .control-next-btn {
    top: 37%;
  }
} */
/* Mobile Size Start */
@media only screen and (max-width: 600px) {
  .slider {
    display: flex;
    height: 200px;
    width: 100%;
  }

  .slide img {
    height: 100%;
    width: 220px;
    margin: 0 5px;
  }

  .slide img:hover ~ .img-overlay {
    bottom: 0;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }

  .img-overlay {
    background-color: rgba(248, 112, 135, 0.562);
    position: absolute;
    bottom: -70%;
    width: 220px;
    height: 70%;
    font: 30px;
    margin: 0 5px;
    border-radius: 15px;
    cursor: pointer;
  }

  .img-overlay p {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 0.5;
    margin-left: 40px;
  }

  .img-overlay p:nth-child(1) {
    margin-top: 35px;
    padding-bottom: 3px;
  }

  .control-prev-btn {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.55);
    height: 50px;
    line-height: 50px;
    width: 35px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: var(--nav-bar-color);
    cursor: pointer;
  }

  .control-prev-btn:hover {
    background-color: var(--primary-color);
  }

  .control-prev-btn SVG {
    font-size: 20px;
  }

  .control-next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.55);
    height: 50px;
    line-height: 50px;
    width: 35px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: var(--nav-bar-color);
    cursor: pointer;
  }

  .control-next-btn:hover {
    background-color: var(--primary-color);
  }

  .control-next-btn SVG {
    font-size: 20px;
  }

  .slide img.zoomed {
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: scale(1) translatey(0) translate(-50%, -50%) !important;
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    display: none;
  }

  .overlay.active {
    display: block;
  }
}
/* Mobile Size End *?

/* iPad Size Start */
@media only screen and (max-width: 1300px) {
  .slider {
    height: 150px;
    margin-right: 10px;
  }
  .slider::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
  }
  .slider::-webkit-scrollbar-track {
    background: transparent;
  }
  .slider::-webkit-scrollbar-thumb {
    background: #888;
  }
  .slider::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .slider img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  }

  .slide {
    position: relative;
  }

  .slide img {
    height: 100%;
    width: 150px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }

  .slide img:hover ~ .img-overlay {
    bottom: 0;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }

  .img-overlay {
    background-color: rgba(248, 112, 135, 0.562);
    position: absolute;
    bottom: -70%;
    width: 150px;
    height: 70%;
    font: 30px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  .img-overlay p {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 0.5;
    margin-left: 30px;
  }

  .img-overlay p:nth-child(1) {
    margin-top: 35px;
    padding-bottom: 3px;
  }

  .control-prev-btn {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.55);
    height: 50px;
    line-height: 50px;
    width: 35px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: var(--nav-bar-color);
    cursor: pointer;
  }

  .control-prev-btn:hover {
    background-color: var(--primary-color);
  }

  .control-prev-btn SVG {
    font-size: 20px;
  }

  .control-next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.55);
    height: 50px;
    line-height: 50px;
    width: 35px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    color: var(--nav-bar-color);
    cursor: pointer;
  }

  .control-next-btn:hover {
    background-color: var(--primary-color);
  }

  .control-next-btn SVG {
    font-size: 20px;
  }

  .slide img.zoomed {
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: scale(1) translatey(0) translate(-50%, -50%) !important;
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    display: none;
  }

  .overlay.active {
    display: block;
  }
}
/* iPad Size End */
