*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

:root {
  --nav-bar-color: rgb(248, 112, 135);
  --primary-color: rgb(248, 203, 211);
  --container-color: rgb(250, 230, 234);
  --container-rightSide-color: rgb(250, 220, 225);
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.header {
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  border-bottom: 0.4rem solid #fff;
  z-index: 1;
}

.display-none {
  display: none;
}

/* Navigation Start */
.navigation {
  width: 65%;
  margin: auto;
  position: relative;
  height: 10rem;
  color: var(--nav-bar-color);
  z-index: 99;
}

.navigation--title {
  display: none;
}

.navigation--logo {
  position: absolute;
}

.navigation--logo img {
  width: 10rem;
}

.navigation--user-account a {
  text-decoration: none;
  color: var(--nav-bar-color);
}

.navigation--navigation-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation--navigation-bar nav ul {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.navigation--navigation-bar nav ul .fav-num {
  border: 0.1rem solid var(--nav-bar-color);
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
}

.navigation--navigation-bar nav ul li {
  list-style: none;
  white-space: nowrap;
}

.navigation--navigation-bar nav ul li a:hover {
  color: var(--primary-color);
  background-color: var(--nav-bar-color);
}

.navigation--navigation-bar nav ul li a {
  text-decoration: none;
  color: var(--nav-bar-color);
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
}

.navigation--navigation-bar-selected {
  color: var(--primary-color);
  background-color: var(--nav-bar-color);
}

.navigation--navigation-bar--bottom {
  display: none;
}

.navigation--navigation-bar--bottom .menu-bar-bottom-social-media ul {
  display: flex;
}

.navigation--navigation-bar--bottom .menu-bar-bottom-social-media ul li {
  list-style: none;
}

.navigation--navigation-bar--bottom .menu-bar-bottom-social-media ul li a {
  width: 4rem;
  height: 4rem;
  background-color: var(--container-rightSide-color);
  text-align: center;
  line-height: 3.3rem;
  font-size: 2.5rem;
  margin: 0 0.5rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0.3rem solid #fff;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li
  a
  .icon {
  position: relative;
  color: var(--nav-bar-color);
  transition: 0.7s;
  z-index: 3;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li
  a:hover
  .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li
  a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li
  a:hover:before {
  top: 0;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li:nth-child(1)
  a:before {
  background: #3b5999;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li:nth-child(2)
  a:before {
  background: #e56969;
}

.navigation--navigation-bar--bottom
  .menu-bar-bottom-social-media
  ul
  li:nth-child(3)
  a:before {
  background: #128c7e;
}

.navigation--user-account {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
}

.navigation--menu-bar {
  display: none;
}

.navigation--user-account--log-in {
  margin-right: 2rem;
}
/* Navigation End */

/* Home Page Start */
.imgCollection-container {
  padding-top: 10.5rem;
  position: relative;
  width: 65%;
  background-color: var(--container-color);
  margin: auto;
}

.imgCollection {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.row {
  display: flex;
  overflow: hidden;
}

.imagegroup {
  display: flex;
  width: 100%;
}

.imagegroup img {
  flex-shrink: 0;
  object-fit: cover;
  border: 3px solid white;
}

.imagegroup .img-top {
  /* width: 342px; */
  width: 300px;
  height: 180px;
}

.imagegroup .img-middle {
  /* width: 1024px; */
  width: 900px;
  height: 480px;
}

.imagegroup .img-bottom {
  width: 300px;
  height: 180px;
}

.imagegroup {
  animation: imgTravel 20s ease-in-out infinite;
}

@keyframes imgTravel {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
}
/* Home Page End */

/* Cake Page Start */
.cake-container {
  width: 65%;
  margin: auto;
  position: relative;
  padding-top: 10.5rem;
  display: flex;
}

.cake-container .left-side-list {
  width: 25%;
  background-color: var(--container-rightSide-color);
  padding: 1rem;
  margin-right: 0.5rem;
  height: 85vh;
}

.cake-container .left-side-list .search-bar input {
  width: 100%;
  height: 3rem;
  font-size: 1.7rem;
  padding: 0 0.5rem;
  outline: none;
  background: var(--container-color);
  border: 0.1rem solid var(--nav-bar-color);
  border-radius: 0.5rem;
  color: var(--nav-bar-color);
}

.cake-container .left-side-list .filter-container {
  margin-top: 5rem;
  color: var(--nav-bar-color);
}

.cake-container .left-side-list .filter-container .filter-show-hide {
  display: none;
}

.cake-container .left-side-list .filter-container .filter-heading {
  font-weight: 700;
  font-size: 2.2rem;
}

.cake-container .left-side-list .filter-container .filter-engine {
  margin: 1rem 0 0 1rem;
}

.cake-container .left-side-list .filter-container .filter-engine p {
  font-weight: 700;
  font-size: 1.7rem;
}

.cake-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types {
  margin: 0.7rem 0 0 1rem;
}

.cake-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control {
  padding-bottom: 0.5rem;
}

.cake-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  label {
  font-size: 1.5rem;
}

.cake-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  input {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.cake-container .left-side-list input:focus {
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
}

.cake-container .content {
  padding: 1rem 0 0 0;
  width: 75%;
  background-color: var(--container-color);
}

.birthday-cakes {
  position: relative;
}

.birthday-cakes h2 {
  color: var(--nav-bar-color);
  padding: 5px 0 10px;
}

.birthday-cakes .cakes-list {
  display: inline-block;
}

.birthday-cakes .cakes-list img {
  margin-right: 10px;
}

.chocolate-cakes h2 {
  color: var(--nav-bar-color);
  padding: 10px 0 10px;
}

.chocolate-cakes .cakes-list {
  display: inline-block;
}

.chocolate-cakes .cakes-list img {
  margin-right: 10px;
}

.strawberry-cakes h2 {
  color: var(--nav-bar-color);
  padding: 10px 0 10px;
}

.strawberry-cakes .cakes-list {
  display: inline-block;
}

.strawberry-cakes .cakes-list img {
  margin-right: 10px;
}

.casual-cakes h2 {
  color: var(--nav-bar-color);
  padding: 10px 0 10px;
}

.casual-cakes .cakes-list {
  display: inline-block;
}

.casual-cakes .cakes-list img {
  margin-right: 10px;
}
/* Cake Page End */

/* Cookies Page Start */
.cookies-container {
  width: 65%;
  margin: auto;
  position: relative;
  padding-top: 10.5rem;
  display: flex;
}

.cookies-container .left-side-list {
  width: 25%;
  background-color: var(--container-rightSide-color);
  padding: 1rem;
  margin-right: 0.5rem;
  height: 85vh;
}

.cookies-container .left-side-list .search-bar input {
  width: 100%;
  height: 3rem;
  font-size: 1.7rem;
  padding: 0 0.5rem;
  outline: none;
  background: var(--container-color);
  border: 0.1rem solid var(--nav-bar-color);
  border-radius: 0.5rem;
  color: var(--nav-bar-color);
}

.cookies-container .left-side-list .filter-container {
  margin-top: 5rem;
  color: var(--nav-bar-color);
}

.cookies-container .left-side-list .filter-container .filter-heading {
  font-weight: 700;
  font-size: 2.2rem;
}

.cookies-container .left-side-list .filter-container .filter-engine {
  margin: 1rem 0 0 1rem;
}

.cookies-container .left-side-list .filter-container .filter-engine p {
  font-weight: 700;
  font-size: 1.7rem;
}

.cookies-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types {
  margin: 0.7rem 0 0 1rem;
}

.cookies-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control {
  padding-bottom: 0.5rem;
}

.cookies-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  label {
  font-size: 1.5rem;
}

.cookies-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  input {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.cookies-container .left-side-list input:focus {
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
}

.cookies-container .content {
  padding: 1rem 0 0 1rem;
  width: 75%;
  background-color: var(--container-color);
}

.birthday-cakes h2 {
  color: var(--nav-bar-color);
  padding: 5px 0 10px;
}

.birthday-cakes .cakes-list {
  display: inline-block;
}

.birthday-cakes .cakes-list img {
  margin-right: 10px;
}
/* Cookies Page End */

/* Sweets Page Start */
.sweets-container {
  width: 65%;
  margin: auto;
  position: relative;
  padding-top: 10.5rem;
  display: flex;
}

.sweets-container .left-side-list {
  width: 25%;
  background-color: var(--container-rightSide-color);
  padding: 1rem;
  margin-right: 0.5rem;
  height: 85vh;
}

.sweets-container .left-side-list .search-bar input {
  width: 100%;
  height: 3rem;
  font-size: 1.7rem;
  padding: 0 0.5rem;
  outline: none;
  background: var(--container-color);
  border: 0.1rem solid var(--nav-bar-color);
  border-radius: 0.5rem;
  color: var(--nav-bar-color);
}

.sweets-container .left-side-list .filter-container {
  margin-top: 5rem;
  color: var(--nav-bar-color);
}

.sweets-container .left-side-list .filter-container .filter-heading {
  font-weight: 700;
  font-size: 2.2rem;
}

.sweets-container .left-side-list .filter-container .filter-engine {
  margin: 1rem 0 0 1rem;
}

.sweets-container .left-side-list .filter-container .filter-engine p {
  font-weight: 700;
  font-size: 1.7rem;
}

.sweets-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types {
  margin: 0.7rem 0 0 1rem;
}

.sweets-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control {
  padding-bottom: 0.5rem;
}

.sweets-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  label {
  font-size: 1.5rem;
}

.sweets-container
  .left-side-list
  .filter-container
  .filter-engine
  .filter-cakes-types
  .filter-form-control
  input {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.sweets-container .left-side-list input:focus {
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
}

.sweets-container .content {
  padding: 1rem 0 0 0;
  width: 75%;
  background-color: var(--container-color);
}

.birthday-cakes h2 {
  color: var(--nav-bar-color);
  padding: 5px 0 10px 1rem;
}

.birthday-cakes .cakes-list {
  display: inline-block;
}

.birthday-cakes .cakes-list img {
  margin-right: 10px;
}
/* Sweets Page End */

/* Shadow Placeholder Start */
.shadow-placeholder {
  margin-left: 10px;
  margin-top: 10px;
}

.shadow-placeholder .shadow-placeholder-title {
  height: 30px;
  width: 150px;
  background-color: rgb(224, 221, 221);
  border-radius: 10px;
  animation: shadow-placeholder-animation infinite 0.7s;
}

.shadow-placeholder .shadow-placeholder-container {
  margin-top: 10px;
}

.shadow-placeholder .shadow-placeholder-slider {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.shadow-placeholder .shadow-placeholder-slider .shadow-placeholder-slide {
  width: 150px;
  height: 150px;
  background-color: rgb(224, 221, 221);
  border-radius: 16px;
  margin-right: 20px;
  animation: shadow-placeholder-animation infinite 0.7s;
}

.shadow-placeholder .shadow-placeholder-slider .shadow-placeholder-slide-mini {
  width: 66px;
  height: 150px;
  background-color: rgb(224, 221, 221);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  animation: shadow-placeholder-animation infinite 0.7s;
}

@keyframes shadow-placeholder-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}
/* Shadow Placeholder End */

/* My Account Start */
.my-account-container {
  width: 65%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10.5rem;
  display: flex;
}

.my-account-container .user-data-left-side {
  width: 25%;
  background-color: var(--container-rightSide-color);
  padding: 1rem;
  margin-right: 0.5rem;
  height: 85vh;
}

.my-account-container .user-data-content {
  padding: 1rem 0 0 1rem;
  width: 75%;
  background-color: var(--container-color);
}
/* My Account End */

/* All Users Start */
.all-users-container {
  width: 65%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10.5rem;
  background-color: var(--container-rightSide-color);
}

.all-users-container .all-users-search input {
  width: 100%;
  height: 3rem;
  border: 0.2rem solid var(--nav-bar-color);
  margin: 1rem 0;
  padding: 1rem;
  outline: none;
  font-size: 1.8rem;
  background-color: var(--container-rightSide-color);
  color: var(--nav-bar-color);
}
/* All Users End */

/* Footer Start */
.footer {
  margin-top: 0.4rem;
  background-color: var(--primary-color);
}

.footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  width: 100%;
}

.footer .footer-container .footer-left {
  padding-left: 5rem;
  width: 33.33%;
}

.footer .footer-container .footer-left h2 {
  color: var(--nav-bar-color);
}

.footer .footer-container .footer-left p {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.footer .footer-container .footer-middle {
  text-align: center;
  width: 33.33%;
}

.footer .footer-container .footer-middle h2 {
  color: var(--nav-bar-color);
  padding-bottom: 2rem;
}

.footer .footer-container .footer-middle img {
  width: 120px;
  height: 120px;
  margin-bottom: 2rem;
}

.footer .footer-container .footer-right {
  width: 33.33%;
  padding-right: 5rem;
}

.footer .footer-container .footer-right .footer-social-media-icons {
  margin-bottom: 2rem;
  float: right;
}

.footer .footer-container .footer-right .footer-social-media-icons p {
  font-weight: 700;
  font-size: 1.7rem;
}

.footer .footer-container .footer-right .footer-social-media-icons ul {
  display: flex;
  margin-left: -2rem;
}

.footer .footer-container .footer-right .footer-social-media-icons ul li {
  list-style: none;
}

.footer .footer-container .footer-right .footer-social-media-icons ul li a {
  width: 4rem;
  height: 4rem;
  background-color: var(--container-rightSide-color);
  text-align: center;
  line-height: 3.3rem;
  font-size: 2.5rem;
  margin: 0 0.5rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0.3rem solid #fff;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li
  a
  .icon {
  position: relative;
  color: var(--nav-bar-color);
  transition: 0.7s;
  z-index: 3;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li
  a:hover
  .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li
  a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li
  a:hover:before {
  top: 0;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li:nth-child(1)
  a {
  margin-left: 0;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li:nth-child(1)
  a:before {
  background: #3b5999;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li:nth-child(2)
  a:before {
  background: #e56969;
}

.footer
  .footer-container
  .footer-right
  .footer-social-media-icons
  ul
  li:nth-child(3)
  a:before {
  background: #128c7e;
}

.footer .footer-bottom {
  border-top: 0.2rem solid var(--nav-bar-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--nav-bar-color);
}

.footer .footer-bottom p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0 1.5rem 1rem;
}

.footer .footer-bottom p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 15rem 1.5rem 0;
}

.footer .footer-bottom p:nth-child(2) span:nth-child(1) {
  text-decoration: underline;
  cursor: pointer;
}

.footer .footer-bottom p:nth-child(2) span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3rem;
}

.footer .arrow-top {
  position: fixed;
  bottom: 6rem;
  right: 5rem;
  background-color: rgba(170, 169, 169, 0.342);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer .arrow-top:hover {
  position: fixed;
  bottom: 6rem;
  right: 5rem;
  background-color: rgba(170, 169, 169, 0.712);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer .arrow-top span {
  font-size: 2.5rem;
  padding: 1rem 1.2rem 2rem 1.2rem;
}

/* Footer End */

/* ////////////////// Mobile Size ///////////////////// */
@media only screen and (max-width: 600px) {
  /* Navigation Start */
  .navigation {
    width: 100%;
    height: 6rem;
  }

  .navigation--title {
    display: flex;
    justify-content: center;
    line-height: 6rem;
  }

  .navigation--title p {
    font-weight: 600;
    font-size: 2rem;
  }

  .navigation--logo img {
    width: 6rem;
  }

  .navigation--navigation-bar {
    top: 6rem;
    left: -100%;
    transform: translate(0, 0);
    background-color: var(--container-color);
    width: 100%;
    transition: 0.5s;
    border-bottom: 0.2rem solid var(--nav-bar-color);
  }

  .menu-display {
    left: 0;
    transition: 0.5s;
  }

  .navigation--navigation-bar nav ul {
    display: block;
    gap: 0;
  }

  .navigation--navigation-bar nav ul li {
    padding: 1rem 0;
    text-align: center;
  }

  /* .navigation--navigation-bar nav ul li span a:hover {
    background-color: none;
  } */

  .navigation--navigation-bar--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation--navigation-bar--bottom .menu-bar-bottom-social-media {
    padding: 1rem;
  }

  .navigation--navigation-bar--bottom .menu-bar-bottom-user-account {
    padding: 1rem;
  }

  .navigation--user-account {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    display: none;
  }

  .navigation--menu-bar {
    display: block;
    position: absolute;
    right: 1.5rem;
    font-size: 2.5rem;
    line-height: 6rem;
    cursor: pointer;
    top: 0.1rem;
  }

  .navigation--user-account--log-in {
    margin-right: 2rem;
  }

  .m-sign-in {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--nav-bar-color);
    letter-spacing: 0.05rem;
    margin-right: 1rem;
  }

  .m-sign-in span {
    font-size: 1.8rem;
    padding-left: 0.5rem;
    color: var(--nav-bar-color);
  }
  /* Navigation End */

  /* Home Page Start */
  .imgCollection-container {
    padding-top: 6.2rem;
    width: 98%;
    z-index: -1;
  }

  .imagegroup .img-top {
    width: 180px;
    height: 130px;
  }

  .imagegroup .img-middle {
    width: 400px;
    height: 300px;
  }

  .imagegroup .img-bottom {
    width: 180px;
    height: 130px;
  }
  /* Home Page End */

  /* Cake Page Start */
  .cake-container {
    width: 98%;
    padding-top: 6.5rem;
    display: block;
  }

  .cake-container .left-side-list {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    height: auto;
  }

  .cake-container .left-side-list .filter-container {
    margin-top: 1rem;
    color: var(--nav-bar-color);
    display: flex;
  }

  .cake-container .left-side-list .filter-container .filter-show-hide {
    display: block;
    margin-left: 0.7rem;
    cursor: pointer;
  }

  .filter-rotate-180 {
    transform: rotate(180deg);
    transition: 0.5s;
  }

  .cake-container .left-side-list .filter-container .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .cake-container .left-side-list .filter-container .filter-engine {
    margin: 1rem 0 0 1rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    p {
    font-weight: bold;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .cake-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .cake-container .content {
    padding: 1rem 0 0 1rem;
    width: 100%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
    text-align: center;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Cake Page End */

  /* Cookies Page Start */
  .cookies-container {
    width: 98%;
    padding-top: 6.5rem;
    display: block;
  }

  .cookies-container .left-side-list {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    height: auto;
  }

  .cookies-container .left-side-list .filter-container {
    margin-top: 1rem;
    color: var(--nav-bar-color);
    display: flex;
  }

  .cookies-container .left-side-list .filter-container .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .cookies-container .left-side-list .filter-container .filter-engine {
    margin: 1rem 0 0 1rem;
  }

  .cookies-container .left-side-list .filter-container .filter-engine p {
    font-weight: bold;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .cookies-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .cookies-container .content {
    padding: 1rem 0 0 1rem;
    width: 100%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Cookies Page End */

  /* Sweets Page Start */
  .sweets-container {
    width: 98%;
    padding-top: 6.5rem;
    display: block;
  }

  .sweets-container .left-side-list {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    height: auto;
  }

  .sweets-container .left-side-list .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--nav-bar-color);
    padding: 1rem 0 0 0;
  }

  .sweets-container .left-side-list .filter-heading .filter-icon {
    font-size: 4rem;
    padding-left: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
  }

  .filter-icon-rotation {
    transform: rotate(180deg);
    animation: filter-icon-animation 0.6s;
    margin-left: 0.5rem;
  }

  @keyframes filter-icon-animation {
    0% {
      transform: rotate(1deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  .sweets-container .left-side-list .filter-container {
    color: var(--nav-bar-color);
    margin-top: -1.5rem;
    padding-top: 1rem;
  }

  .display-flex {
    display: flex;
  }

  .sweets-container .left-side-list .filter-container .filter-engine {
    margin: 0 0 0 1rem;
  }

  .sweets-container .left-side-list .filter-container .filter-engine p {
    font-weight: bold;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .sweets-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .sweets-container .content {
    padding: 1rem 0 0 1rem;
    width: 100%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Sweets Page End */

  /* My Account Start */
  .my-account-container {
    width: 65%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10.5rem;
    display: flex;
  }

  .my-account-container .user-data-left-side {
    width: 25%;
    background-color: var(--container-rightSide-color);
    padding: 1rem;
    margin-right: 0.5rem;
    height: 85vh;
  }

  .my-account-container .user-data-content {
    padding: 1rem 0 0 1rem;
    width: 75%;
    background-color: var(--container-color);
  }

  /* My Account End */

  /* .footer {
    margin-top: 0.4rem;
    background-color: var(--primary-color);
  } */

  .footer .footer-container {
    display: block;
    justify-content: center;
    padding-top: 3rem;
    /* width: 100%; */
  }

  .footer .footer-container .footer-left {
    padding: 0 5rem;
    width: 100%;
    text-align: center;
  }

  .footer .footer-container .footer-left h2 {
    font-size: 1.5rem;
  }

  .footer .footer-container .footer-left p {
    padding-top: 0.5rem;
    font-size: 1.4rem;
  }

  .footer .footer-container .footer-middle {
    text-align: center;
    width: 100%;
    padding: 5rem 0 12rem;
  }

  .footer .footer-container .footer-middle h2 {
    padding-bottom: 1.5rem;
  }

  .footer .footer-container .footer-middle img {
    width: 100px;
    height: 100px;
    /* margin-bottom: 2rem; */
  }

  .footer .footer-container .footer-right {
    width: 100%;
    padding-right: 0;
    text-align: center;
    position: relative;
  }

  .footer .footer-container .footer-right .footer-social-media-icons {
    /* margin-bottom: 2rem; */
    float: unset;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .footer .footer-container .footer-right .footer-social-media-icons p {
    /* font-weight: 700; */
    font-size: 1.5rem;
  }

  .footer .footer-container .footer-right .footer-social-media-icons ul {
    display: flex;
    margin-left: 0;
  }

  .footer .footer-container .footer-right .footer-social-media-icons ul li {
    list-style: none;
  }

  .footer .footer-container .footer-right .footer-social-media-icons ul li a {
    width: 4rem;
    height: 4rem;
    background-color: var(--container-rightSide-color);
    text-align: center;
    line-height: 3.3rem;
    font-size: 2.5rem;
    margin: 0 0.5rem;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.3rem solid #fff;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li
    a
    .icon {
    position: relative;
    color: var(--nav-bar-color);
    transition: 0.7s;
    z-index: 3;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li
    a:hover
    .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li
    a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li
    a:hover:before {
    top: 0;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li:nth-child(1)
    a {
    margin-left: 0;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li:nth-child(1)
    a:before {
    background: #3b5999;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li:nth-child(2)
    a:before {
    background: #e56969;
  }

  .footer
    .footer-container
    .footer-right
    .footer-social-media-icons
    ul
    li:nth-child(3)
    a:before {
    background: #128c7e;
  }

  .footer .footer-bottom {
    display: block;
  }

  .footer .footer-bottom p:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 1.5rem 0.5rem;
  }

  .footer .footer-bottom p:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem 2rem;
  }

  .footer .footer-bottom p:nth-child(2) span:nth-child(1) {
    text-decoration: underline;
    cursor: pointer;
  }

  .footer .footer-bottom p:nth-child(2) span:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 3rem;
  }

  .footer .arrow-top {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    background-color: rgba(170, 169, 169, 0.342);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .footer .arrow-top:hover {
    position: fixed;
    bottom: 6rem;
    right: 5rem;
    background-color: rgba(170, 169, 169, 0.712);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .footer .arrow-top span {
    font-size: 2.5rem;
    padding: 1rem 1.2rem 2rem 1.2rem;
  }

  /* Footer End */
}

/* ////////////////// iPad Size ///////////////////// */
@media only screen and (max-width: 1300px) and (min-width: 600px) {
  /* Navigation Start */
  .navigation {
    width: 100%;
    height: 7rem;
  }

  .navigation--title {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    line-height: 7rem;
  }

  .navigation--title p {
    font-weight: 600;
    font-size: 2.7rem;
  }

  .navigation--logo img {
    width: 7rem;
  }

  .navigation--navigation-bar {
    top: 7rem;
    left: -100%;
    transform: translate(0, 0);
    background-color: var(--container-color);
    width: 70%;
    transition: 0.5s;
    border-bottom: 0.2rem solid var(--nav-bar-color);
    border-right: 0.2rem solid var(--nav-bar-color);
    border-bottom-right-radius: 85%;
    z-index: 1;
  }

  .menu-display {
    left: 0;
    transition: 0.5s;
  }

  .navigation--navigation-bar nav ul {
    display: block;
  }

  .navigation--navigation-bar nav ul li {
    padding: 1rem 0;
    text-align: center;
  }

  .navigation--navigation-bar--bottom {
    display: flex;
  }

  .navigation--navigation-bar--bottom .menu-bar-bottom-social-media {
    padding: 1rem;
  }

  .navigation--navigation-bar--bottom .menu-bar-bottom-user-account {
    padding: 1rem;
  }

  .navigation--user-account {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    display: none;
  }

  .navigation--menu-bar {
    display: block;
    position: absolute;
    right: 1.5rem;
    font-size: 2.5rem;
    line-height: 7rem;
    cursor: pointer;
  }

  .navigation--user-account--log-in {
    margin-right: 2rem;
  }
  /* Navigation End */

  /* Home Page Start */
  .imgCollection-container {
    padding-top: 8rem;
    width: 98%;
    z-index: -1;
  }

  .imagegroup .img-top {
    width: 250px;
    height: 150px;
  }

  .imagegroup .img-middle {
    width: 550px;
    height: 360px;
  }

  .imagegroup .img-bottom {
    width: 250px;
    height: 150px;
  }
  /* Home Page End */

  /* Cake Page Start */
  .cake-container {
    width: 100%;
    padding-top: 7.5rem;
  }

  .cake-container .left-side-list {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    margin-bottom: 1rem;
    height: auto;
  }

  .cake-container .left-side-list .filter-container {
    margin-top: 1rem;
    color: var(--nav-bar-color);
    display: flex;
  }

  .cake-container .left-side-list .filter-container .filter-show-hide {
    display: block;
    margin-left: 0.7rem;
    cursor: pointer;
  }

  .filter-rotate-180 {
    transform: rotate(180deg);
    transition: 0.5s;
  }

  .cake-container .left-side-list .filter-container .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .cake-container .left-side-list .filter-container .filter-engine {
    margin: 1rem 0 0 1rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    p {
    font-weight: bold;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .cake-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .cake-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .cake-container .content {
    padding: 1rem 0 0 1rem;
    width: 100%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
    text-align: center;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Cake Page End */

  /* Cookies Page Start */
  .cookies-container {
    width: 100%;
    padding-top: 7.5rem;
  }

  .cookies-container .left-side-list {
    width: 25%;
    background-color: var(--container-rightSide-color);
    padding: 1rem;
    margin-right: 0.5rem;
    height: 85vh;
  }

  .cookies-container .left-side-list .search-bar input {
    width: 100%;
    height: 3rem;
    font-size: 1.7rem;
    padding: 0 0.5rem;
    outline: none;
    background: var(--container-color);
    border: 0.1rem solid var(--nav-bar-color);
    border-radius: 0.5rem;
    color: var(--nav-bar-color);
  }

  .cookies-container .left-side-list .filter-container {
    margin-top: 5rem;
    color: var(--nav-bar-color);
  }

  .cookies-container .left-side-list .filter-container .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .cookies-container .left-side-list .filter-container .filter-engine {
    margin: 1rem 0 0 1rem;
  }

  .cookies-container .left-side-list .filter-container .filter-engine p {
    font-weight: bold;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .cookies-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .cookies-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .cookies-container .content {
    padding: 1rem 0 0 1rem;
    width: 75%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Cookies Page End */

  /* Sweets Page Start */
  .sweets-container {
    width: 100%;
    padding-top: 7.5rem;
  }

  .sweets-container .left-side-list {
    width: 25%;
    background-color: var(--container-rightSide-color);
    padding: 1rem;
    margin-right: 0.5rem;
    height: 85vh;
  }

  .sweets-container .left-side-list .search-bar input {
    width: 100%;
    height: 3rem;
    font-size: 1.7rem;
    padding: 0 0.5rem;
    outline: none;
    background: var(--container-color);
    border: 0.1rem solid var(--nav-bar-color);
    border-radius: 0.5rem;
    color: var(--nav-bar-color);
  }

  .sweets-container .left-side-list .filter-container {
    margin-top: 5rem;
    color: var(--nav-bar-color);
  }

  .sweets-container .left-side-list .filter-container .filter-heading {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .sweets-container .left-side-list .filter-container .filter-engine {
    margin: 1rem 0 0 1rem;
  }

  .sweets-container .left-side-list .filter-container .filter-engine p {
    font-weight: bold;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types {
    margin: 0.7rem 0 0 1rem;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control {
    padding-bottom: 0.5rem;
  }

  .sweets-container
    .left-side-list
    .filter-container
    .filter-engine
    .filter-cakes-types
    .filter-form-control
    input {
    margin-left: 1rem;
  }

  .sweets-container .left-side-list input:focus {
    box-shadow: 0.5rem 0.5rem 1rem 0.3rem var(--primary-color);
  }

  .sweets-container .content {
    padding: 1rem 0 0 1rem;
    width: 75%;
    background-color: var(--container-color);
  }

  .birthday-cakes h2 {
    color: var(--nav-bar-color);
    padding: 5px 0 10px;
  }

  .birthday-cakes .cakes-list {
    display: inline-block;
  }

  .birthday-cakes .cakes-list img {
    margin-right: 10px;
  }
  /* Sweets Page End */

  /* My Account Start */
  .my-account-container {
    width: 65%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10.5rem;
    display: flex;
  }

  .my-account-container .user-data-left-side {
    width: 25%;
    background-color: var(--container-rightSide-color);
    padding: 1rem;
    margin-right: 0.5rem;
    height: 85vh;
  }

  .my-account-container .user-data-content {
    padding: 1rem 0 0 1rem;
    width: 75%;
    background-color: var(--container-color);
  }

  /* My Account End */
}
