:root {
  --nav-bar-color: rgb(248, 112, 135);
  --primary-color: rgb(248, 203, 211);
  --background-color: rgb(250, 230, 234);
  --signup-container-color: rgb(250, 220, 225);
}

.signup-form {
  position: relative;
  padding-top: 10.5rem;
  padding-bottom: 2rem;
  width: 65%;
  height: auto;
  margin: auto;
  background-color: var(--background-color);
}

.signup-container {
  background-color: var(--signup-container-color);
  width: 30%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.3rem solid var(--primary-color);
  border-radius: 1rem;
}

.signup-container p {
  text-align: right;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem 1rem 0.5rem 0;
  color: var(--nav-bar-color);
}

.signup-container p a {
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--nav-bar-color);
}

.signup-heading {
  text-align: center;
  color: var(--nav-bar-color);
  padding: 1rem 0;
  background-color: var(--primary-color);
}

.signup-form-control {
  padding: 1rem;
}

.signup-form-control label {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: bold;
  color: var(--nav-bar-color);
  font-size: 1.5rem;
}

.signup-form-control input {
  width: 100%;
  height: 3.5rem;
  border: 0.2rem solid var(--primary-color);
  background-color: var(--background-color);
  padding-left: 1rem;
  font-size: 1.8rem;
  outline: none;
}

.signup-btn-container {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
}

.signup-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: var(--nav-bar-color);
}

@media only screen and (max-width: 600px) {
  .signup-form {
    padding-top: 6.5rem;
    width: 98%;
  }

  .signup-container {
    width: 75%;
  }

  .signup-form-control {
    padding: 1rem;
  }

  .signup-form-control label {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .signup-form {
    padding-top: 7.5rem;
    width: 99%;
  }

  .signup-container {
    width: 50%;
  }

  .signup-form-control {
    padding: 1rem;
  }

  .signup-form-control label {
    font-size: 1.5rem;
  }
}
